
<h1>Search Result</h1>
{{#if movie}}
  <p><strong>ID:</strong> {{movie.Movie_ID}}</p>
  <p><strong>Title:</strong> {{movie.Title}}</p>
  <p><strong>Language:</strong> {{movie.Language}}</p>
{{else}}
  <p>No movie found for the given ID.</p>
{{/if}}
